Repository SituDevelopment/fastapi-starter, pull requests merged in 2024-01, with the labels that each got.

#12 feature/initialise pylint
  pyproject.toml
  requirements.txt
  src/fastapi_starter/__init__.py
  src/fastapi_starter/controllers/auth.py
  src/fastapi_starter/controllers/communications.py
  src/fastapi_starter/controllers/organisations.py
  src/fastapi_starter/controllers/tokens.py
  src/fastapi_starter/controllers/users.py
  src/fastapi_starter/database.py
  src/fastapi_starter/dependencies/admin.py
  src/fastapi_starter/dependencies/database.py
  src/fastapi_starter/dependencies/owner.py
  src/fastapi_starter/dependencies/self.py
  src/fastapi_starter/models/__init__.py
  src/fastapi_starter/models/organisations.py
  src/fastapi_starter/models/tokens.py
  src/fastapi_starter/models/users.py
  src/fastapi_starter/routers/auth.py
  src/fastapi_starter/routers/organisations.py
  src/fastapi_starter/routers/users.py
  src/fastapi_starter/schemas/__init__.py
  src/fastapi_starter/schemas/auth.py
  src/fastapi_starter/schemas/organisations.py
  src/fastapi_starter/schemas/tokens.py
  src/fastapi_starter/schemas/users.py
  src/fastapi_starter/version.py
Labels: enhancement, dependencies, python

#13 Tighten Pylint rules to application-specific requirements
  pyproject.toml
  requirements.txt
Labels: enhancement, dependencies, python

#14 Configure Pylint source root
  .github/workflows/status-checks.yaml
Labels: enhancement, github_actions

#32 feat: Added JSON type.
  src/fastapi_starter/schemas/__init__.py
Labels: enhancement
